@tailwind base;
@tailwind components;
@tailwind utilities;

.inputContainer {
  position: relative;
  width: 100%;
}

.inputStyle {
  width: 100%;
  padding: 5px 1px;
  outline: none;
  background: transparent;
}

.labelStyle {
  position: absolute;
  top: 3px;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.inputStyle:focus + .labelStyle,
.inputStyle:not(:placeholder-shown) + .labelStyle {
  transform: translateY(-18px);
  font-size: 12px;
  color:"#9D174D";
}
